version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    reviewers:
      - "dwnusbaum"
    schedule:
      interval: "daily"
    ignore:
      # Caffeine 3.x requires Java 11, so we cannot update until Jenkins requires Java 11
      - dependency-name: "com.github.ben-manes.caffeine:caffeine"
        versions: ["[3.0.0,)"]
